@charset "UTF-8";


:root{
    --cor001:#047e7e;
    --cor002:#F2BD41;
    --cor003: #04cfcf;
    }

@media screen and (min-width: 768px) and (max-width: 992px){

    body {
        background-image: linear-gradient(to top, #047e7e, #04dbdb)
    }

    section#login{
        width: 80vw;
    }
    section#login > div#imagem{
        float: left;
        width: 30%;
        height: 100%;
    }

    section#login > div#formulario{
        float: right;
        width: 70%;
    }
}
    
@media screen and (min-width: 992px){
    
    body {
        background-image: linear-gradient(to top, #047e7e, #04dbdb)
    }

    
    section#login {
        width: 950px;
    }
    section#login > div#imagem{
        float: left;
        width: 50%;
        height: 100%;
    }

    section#login > div#formulario{
        float: right;
        width: 50%

    }
}

