@charset "UTF-8";



:root{
    --cor001:#047e7e;
    --cor002:#016363;
    --cor003: #04dbdbf5;
    --cor004:#e9b12e;
    
    }


* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: var(--cor001);
    height: 100vh;
    width: 100vw;

}

main{
    position: relative;
    height: 100vh;
    font-weight: 100vw;

}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);

    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;

}

section#login > div#imagem {
    display: block;
    background: var(--cor001) url(../imagens/pexels-neosiam-+-4498792.jpg);
    background-size: cover;
    background-position: center center;
    height: 200px;
}

section#login > div#formulario{
    display: block;
    padding: 10px;
}

div#formulario{
    margin-bottom: 10px;
    text-align: center;
}

div#formulario > p{
    font-size: 0.8em;
    text-align: justify;
}

form > div.campo {
    background-color: var(--cor004);
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
}

div.campo > label{
    display: none;
}

form >input[type=submit]{
    margin-top: 5px;
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: var(--cor002);
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    border: 1px var(--cor001)

}

form > input[type=submit]:hover{
    background-color: var(--cor001);  
}

form > a.botao{
    margin-top: 5px;
    padding-top: 5px;
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: white;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    cursor: pointer;
    border: 1px var(--cor001)
}

form > a.botao:hover {
    background-color: var(--cor001);  
}

form > a.botao >i {
    font-size: 0.8em;
}