@charset "UTF-8";



:root{
    --cor001:#047e7e;
    --cor002:#F2BD41;
    --cor003: #04dbdb;
    }


* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: var(--cor001);
    height: 100vh;
    width: 100vw;

}

main{
    position: relative;
    height: 100vh;
    font-weight: 100vw;

}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);

    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;

}

section#login > div#imagem {
    display: block;
    background: var(--cor001) url(../imagens/pexels-neosiam-+-4498792.jpg);
    background-size: cover;
    background-position: center center;
    height: 200px;
}

section#login > div#formulario{
    display: block;
    padding: 10px;

}